body {
    margin: 0;
    font-family: "Tiny5", sans-serif;
    overflow: hidden;
}
.ui-layer {
    position: absolute; 
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100vh;
    
    z-index: 10; 

    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 300;

    padding: 5px 25px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 50px;
    color: white;
}
.heading{
    font-size: 86px;
    height: 100px;

    margin:0;
    margin-top: 20px;

    color: white;
}
.btn-menu,
.btn-login {
    font-size: 28px;
}

.main-content{
    margin-top: 50px;
    margin: 50px;
    height: 100vh;
    width: 100vh;
    
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    align-content: center;
}
.btn-login a {
    text-decoration: none;   
    color: inherit;          
}
.btn-login a:hover {
    opacity: 0.8;          
}
.btn-login:active{
    opacity: 0.6;
}
.btn-menu:hover {
    opacity: 0.8;
}
.btn-menu:active {
    opacity: 0.6;
}

